.worktime-container {
  margin-bottom: 20px;
  height: 275px;
  width: 100%;

  @media only screen and (min-width: 1024px) {
    width: 33%;
    margin-right: 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 80%;

    .employees-list {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      line-height: 25px;
      margin-top: 20px;

      .list-item {
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: space-between;
        padding: 0 5px;

        .list-item-element:first-child {
          font-weight: 900;
        }
      }
    }

    .buttons {
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;

      button {
        background: none;
        border: none;
        padding: 0;
        outline: inherit;

        &:focus,
        &:hover,
        &:active {
          color: #0063f7;
          cursor: pointer;
        }

        &.hidden {
          opacity: 0;
        }
      }
    }
  }
}
