.dashboard-section-container {
  min-height: 210px;

  @media only screen and (min-width: 1024px) {
    width: 33%;
    margin-right: 20px;
  }

  .content {
    .list-of-items {
      margin: 20px 0;
      min-height: 150px;

      .list-item {
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: space-between;
        padding: 0 5px;

        .list-item-element:first-child {
          font-weight: 900;
        }
      }
    }
  }
}
