.list-element-container {
  @media only screen and (min-width: 1024px) {
    flex-direction: row;
  }

  .employee-details {
    @media only screen and (min-width: 1024px) {
      width: calc(100% - 120px);
    }

    .item-details-wrap {
      .details-section {
        .working {
          color: #2fcc71;
        }

        .not-working {
          color: #ff3333;
        }
      }

      @media only screen and (min-width: 1024px) {
        flex-direction: row;

        .details-section {
          margin: 0 20px;
          width: calc(100% / 6);

          &:nth-last-of-type(-n + 4) {
            text-align: center;
          }
        }
      }
    }
  }

  .icons {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0 auto;

    @media only screen and (min-width: 1024px) {
      position: absolute;
      right: 40px;
      margin: 0;
    }

    svg {
      color: rgba(0, 0, 0, 0.5);

      &:hover {
        color: black;
      }
    }
  }
}
