.monthly-work-time-container {
  width: 100%;
  height: 340px;
  background-color: #ffffff;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    width: 100%;
    padding-left: 15px;
    margin: 10px 0 10px 0;
    font-size: 20px;
  }

  canvas {
    height: 290px !important;
    width: 90% !important;
  }
}
