.monthly-worktime-container {
  margin: 60px 0 20px 0;
  width: 100%;
  min-height: 350px;

  @media only screen and (min-width: 1024px) {
    width: 60%;
    margin: 20px 20px 0 0;
    height: calc(100vh - 335px);
  }
}

.chart-container {
  position: relative;
  min-height: 300px;
  height: 85%;
  width: 90%;
}
