.top-container {
  position: absolute;
  top: 0px;
  right: 10px;
  padding: 10px;
  font-size: 20px;
  text-align: right;
  z-index: -1;

  @media only screen and (min-width: 1024px) {
    transform: translateY(-300px);
  }
}
