.closed {
  visibility: hidden;
  opacity: 0;
}

.modalOpenButton {
  background: none;
  border: none;
  padding: 0;
  outline: inherit;

  &:focus,
  &:hover,
  &:active {
    cursor: pointer;
    color: black;
  }

  svg {
    color: rgba(0, 0, 0, 0.5);

    &:hover {
      color: black;
    }
  }
}

.modal-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(18, 26, 28, 0.7);
  display: flex;
  justify-content: center;
  z-index: 1;

  .modal {
    background-color: white;
    width: 90vw;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
    font-size: 14px;
    max-height: 650px;
    overflow: auto;

    @media only screen and (min-width: 1024px) {
      width: 400px;
    }

    .modal-title {
      font-weight: 900;
    }

    .modal-form {
      margin-top: 40px;

      .form-element {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;

        .modal-label {
          font-size: 12px;
          margin-bottom: 3px;
        }

        .modal-input {
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);
          outline: inherit;
          height: 25px;

          &:focus {
            transition: border-bottom-color 0.5s ease;
            border-bottom-color: #0063f7;
          }
        }

        .modal-select {
          border: none;
          box-shadow: 0.5px 1px 2px rgba(0, 0, 0, 0.1);
          background-color: #f4f5f7;
          height: 25px;
        }

        .modal-textarea {
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);
          outline: inherit;
          overflow: hidden;

          &:focus {
            transition: border-bottom-color 0.5s ease;
            border-bottom-color: #0063f7;
          }
        }
      }

      .row-display {
        flex-direction: row;
        align-items: center;

        *:first-child {
          width: 40%;
        }

        *:last-child {
          width: 60%;
        }
      }

      .form-buttons {
        text-align: right;
        margin-top: 40px;

        button {
          font-size: 12px;
          border-radius: 5px;
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
          border: none;
          padding: 8px 20px;
        }

        .submit-button {
          margin-left: 10px;
          background-color: #0068ff;

          color: white;
        }
      }
    }
  }
}
