.list-container {
  .employees-list {
    .header {
      width: calc(100% - 120px);
      justify-content: space-between;
      align-items: center;

      span {
        width: calc(100% / 5);

        &:nth-last-of-type(-n + 3) {
          text-align: center;
        }
      }
    }

    .new-employee {
      display: none;
      width: 100%;
      border: 2.5px dotted #0063f7;
      padding: 20px;
      margin-bottom: 15px;
      text-align: center;
      color: #0063f7;
      font-weight: 900;
      cursor: pointer;

      &:hover {
        border-style: solid;
      }

      @media only screen and (min-width: 1024px) {
        display: block;
      }
    }
  }
}
