.dashboard-section-container {
  height: 275px;

  @media only screen and (min-width: 1024px) {
    width: 33%;
    margin-right: 20px;
  }

  .content {
    height: 100%;

    .list-of-items {
      margin-top: 10px;
      width: 100%;

      span {
        margin-bottom: 10px;
        font-weight: 900;
      }
    }
  }
}
