.active-workplaces-container {
  height: 290px;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 80%;

    .workplaces-list {
      display: flex;
      flex-direction: column;
      width: 100%;
      font-size: 14px;
      line-height: 25px;
      margin-top: 10px;

      span {
        margin-bottom: 15px;
        font-weight: 900;
      }
    }

    .buttons {
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;

      button {
        background: none;
        border: none;
        padding: 0;
        outline: inherit;

        &:focus {
          color: #0063f7;
        }

        &.hidden {
          opacity: 0;
        }
      }
    }
  }
}
