.active-workplaces-container {
  width: 100%;
  height: 290px;
  background-color: #ffffff;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    width: 100%;
    padding-left: 15px;
    margin: 10px 0 10px 0;
    font-size: 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 90%;

    .workplaces-list {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 10px;
      font-size: 14px;
      line-height: 25px;
      margin-top: 10px;

      span {
        margin-bottom: 15px;
      }
    }

    .buttons {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;

      button {
        background: none;
        color: #0063f7;
        border: none;
        padding: 0;
        outline: inherit;

        &.hidden {
          opacity: 0;
        }
      }
    }
  }
}
