.list-container {
  .top {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 23px;
    margin-bottom: 8px;

    @media only screen and (min-width: 1024px) {
      left: calc(5% + 30px);
      top: 30px;
      font-size: 25px;
    }
  }

  .employees-list {
    position: absolute;
    top: 90px;
    width: 90%;
    left: 5%;

    @media only screen and (min-width: 1024px) {
      margin-left: 30px;
    }

    .header {
      position: absolute;
      display: none;
      padding: 20px;
      font-size: 14px;
      font-weight: 900;

      span {
        margin: 0 20px;
      }

      @media only screen and (min-width: 1024px) {
        position: static;
        display: flex;
      }
    }
  }
}
