.list-element-container {
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 1024px) {
    align-items: center;
    border-radius: 0;
  }
}

.item-details-wrap {
  display: flex;
  flex-direction: column;

  .details-section {
    margin-bottom: 10px;

    span:last-child {
      font-weight: 900;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media only screen and (min-width: 1024px) {
      span:first-child {
        position: absolute;
        top: -200vh;
      }

      span:last-child {
        font-weight: 400;
      }
    }
  }
}
