@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0px;
  background-color: #f4f5f7;
}

a {
  text-decoration: none;
}

button:focus,
a:focus {
  outline-color: #0068ff;
}

.dashboard-title {
  width: 100%;
  padding-left: 15px;
  margin: 10px 0 10px 0;
  font-size: 20px;
}
