.closed {
  visibility: hidden;
  opacity: 0;
}

.modalOpenButton {
  background: none;
  border: none;
  padding: 0;
  outline: inherit;

  &:focus,
  &:hover,
  &:active {
    cursor: pointer;
    color: black;
  }

  svg {
    color: rgba(0, 0, 0, 0.5);

    &:hover {
      color: black;
    }
  }
}

.modal-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(18, 26, 28, 0.7);
  display: flex;
  justify-content: center;
  z-index: 1;

  .modal {
    background-color: white;
    margin: auto;
    width: 70vw;
    padding: 30px 0;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;

    @media only screen and (min-width: 1024px) {
      width: 300px;
    }

    .modal-title {
      font-weight: 900;
    }

    .form-buttons {
      text-align: center;
      margin-top: 40px;

      button {
        font-size: 12px;
        border-radius: 5px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
        border: none;
        padding: 8px 20px;
      }

      .submit-button {
        margin-left: 20px;
        background-color: #ff3333;

        color: white;
      }
    }
  }
}
