.list-element-container {
  .workday-element {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    position: relative;
    padding: 20px;

    .date {
      visibility: hidden;
    }

    &:first-of-type .date {
      visibility: visible;
    }

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }

    @media only screen and (min-width: 1024px) {
      display: flex;
      width: 100%;
      padding: 10px 20px;
      border-bottom: none;
      margin-bottom: 10px;
    }

    .item-details-wrap {
      .details-section {
        &:last-child {
          text-align: justify;
          span {
            font-weight: 400;
          }
        }

        @media only screen and (min-width: 1024px) {
          text-align: center;
          margin: 0;

          &:nth-child(2) {
            text-align: left;
            padding-left: 20px;
          }

          &:last-child {
            text-align: left;
          }
        }
      }

      @media only screen and (min-width: 1024px) {
        width: calc(100% - 150px);
        padding-right: 20px;
        display: grid;
        grid-template-columns: 0.3fr 1.5fr 1fr 1fr 3fr;
        align-items: center;
      }
    }

    .icons-three-elements {
      width: 150px;
    }

    .icons-two-elements {
      width: 100px;
    }

    .icons {
      display: flex;
      justify-content: space-between;
      margin: 20px auto 10px auto;

      @media only screen and (min-width: 1024px) {
        align-items: center;
        margin: 0;
        width: 150px;
      }
    }

    .additional-info {
      background: none;
      border: none;
      padding: 0;
      outline: inherit;
      position: relative;
      width: 30px;

      svg {
        color: rgba(0, 99, 247, 0.5);

        &:hover {
          color: #0063f7;
        }
      }

      &::before,
      &::after {
        --scale: 0;
        --arrow-size: 10px;

        position: absolute;
        top: -0.25rem;
        left: 50%;
        transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
        transition: 150ms transform;
        transform-origin: bottom center;
      }

      &::before {
        --translate-y: calc(-100% - var(--arrow-size) + 1px);

        padding: 20px;
        width: max-content;
        max-width: 150px;
        border-radius: 8px;
        text-align: left;
        background-color: #0063f7;
        color: white;
        content: attr(tooltip-data);
      }

      &::after {
        --translate-y: calc(-1 * var(--arrow-size));

        content: '';
        border: var(--arrow-size) solid transparent;
        border-top-color: #0063f7;
        transform-origin: top center;
      }

      &:focus::before,
      &:hover::before,
      &:focus::after,
      &:hover::after {
        --scale: 1;
      }
    }

    .additional-info-replacement {
      display: none;

      @media only screen and (min-width: 1024px) {
        display: block;
        width: 30px;
        height: 30px;
      }
    }
  }
}
