.edit-modal-background {
  .modal {
    width: 90vw;
    padding: 20px;
    max-height: 650px;
    overflow: auto;

    @media only screen and (min-width: 1024px) {
      width: 400px;
    }

    .modal-form {
      margin-top: 40px;

      .form-element {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;

        .modal-label {
          font-size: 12px;
          text-align: left;
          margin-bottom: 3px;
        }

        .modal-input {
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);
          outline: inherit;

          &:focus {
            transition: border-bottom-color 0.5s ease;
            border-bottom-color: #0063f7;
          }
        }
      }

      .form-buttons {
        text-align: right;
        .submit-button {
          margin-left: 10px;
          background-color: #0068ff;
        }
      }
    }
  }
}
