.add-item-button {
  position: absolute;
  top: 50px;
  right: 90px;
  background: none;
  border: 1px solid #0063f7;
  padding: 5px 10px;
  outline: inherit;
  color: #0063f7;
  cursor: pointer;
  font-weight: 600;

  @media only screen and (min-width: 1024px) {
    visibility: hidden;
    opacity: 0;
  }
}

.new-modal-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(18, 26, 28, 0.7);
  display: flex;
  justify-content: center;

  .modal {
    background-color: white;
    width: 90vw;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
    font-size: 14px;
    text-align: left;

    @media only screen and (min-width: 1024px) {
      width: 400px;
    }

    .modal-title {
      font-weight: 900;
    }

    .modal-form {
      margin-top: 40px;

      .form-element {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;

        .modal-label {
          font-size: 12px;
          margin-bottom: 3px;
        }

        .modal-input {
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);
          outline: inherit;

          &:focus {
            transition: border-bottom-color 0.5s ease;
            border-bottom-color: #0063f7;
          }
        }
      }

      .form-buttons {
        text-align: right;
        margin-top: 40px;

        button {
          font-size: 12px;
          border-radius: 5px;
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
          border: none;
          padding: 8px 20px;
        }

        .submit-button {
          margin-left: 10px;
          background-color: #0068ff;

          color: white;
        }
      }
    }
  }
}
