.dashboard-section-container {
  margin: 60px 0 20px 0;
  min-height: 350px;

  .company-worktime-header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .data-type-toggle {
      padding: 0 15px;
      margin-top: 10px;
      display: flex;

      .toggle-button {
        padding: 0px 5px;
        height: 25px;
        border: 2px solid #0063f7;
        outline: inherit;
        background: transparent;
        border-radius: 5px;
        color: #0063f7;

        &:first-child {
          border-right: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &:last-child {
          border-left: none;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      .active {
        background-color: #0063f7;
        color: white;
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    width: 60%;
    margin: 20px 20px 0 0;
    height: calc(100vh - 335px);
  }
}
