.modal-background {
  .modal {
    max-height: 650px;
    overflow: auto;

    .modal-form {
      .form-element {
        .modal-input {
          height: 25px;
        }

        .modal-select {
          border: none;
          box-shadow: 0.5px 1px 2px rgba(0, 0, 0, 0.1);
          background-color: #f4f5f7;
          height: 25px;
        }

        .modal-textarea {
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);
          outline: inherit;
          overflow: hidden;

          &:focus {
            transition: border-bottom-color 0.5s ease;
            border-bottom-color: #0063f7;
          }
        }
      }

      .row-display {
        flex-direction: row;
        align-items: center;

        *:first-child {
          width: 40%;
        }

        *:last-child {
          width: 60%;
        }
      }
    }
  }
}
