.nav-container {
  position: fixed;
  left: -100%;
  opacity: 0;
  width: 100%;
  height: 100%;

  .background {
    backdrop-filter: blur(20px);
    width: 100%;
    height: 100%;
    background-color: rgba(213, 213, 213, 0.8);
  }

  .nav-wrap {
    height: 100%;
    width: 100%;

    .close-nav {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 20px;
      height: 20px;
    }

    .nav {
      position: absolute;
      top: 0px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 50px;
      font-size: 20px;

      .nav-img {
        width: 40px;
      }

      .router-links {
        display: flex;
        flex-direction: column;
        margin-top: 100px;

        .nav-item-link {
          margin-bottom: 30px;
        }
      }

      a {
        text-decoration: none;
      }

      span {
        color: rgba(0, 0, 0, 0.6);
        margin-left: 10px;
      }

      .nav-item {
        font-size: 1.2em;
        display: flex;
        align-items: center;
      }

      .logout-button {
        margin-bottom: 40px;
      }
    }
  }
}
