@import '@/components/Navbar/Navbar/Navbar';

.notifications-content-item {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  font-size: 0.9em;
  padding: 5px 10px;
  margin: 5px 5px 0 0;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .notification-name {
    font-weight: 600;
    font-size: 1.2em;
  }
}

.seen {
  color: rgba(0, 0, 0, 0.5);
}
