.go-to-container {
  margin-bottom: 20px;
  height: 250px;
  width: 100%;

  @media only screen and (min-width: 1024px) {
    width: calc(34% - 40px);
    height: 275px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 80%;

    button {
      background: none;
      border: none;
      padding: 0;
      outline: inherit;
      height: 50%;

      &:first-child {
        border-bottom: 2px solid rgba(0, 0, 0, 0.15);
      }

      &:focus,
      &:hover,
      &:active {
        color: #0063f7;
        cursor: pointer;
      }
    }
  }
}
