.dashboard-section-container {
  height: 250px;

  @media only screen and (min-width: 1024px) {
    width: calc(34% - 40px);
    height: 275px;
  }

  .content {
    height: 100%;

    button {
      background: none;
      border: none;
      padding: 0;
      outline: inherit;
      height: 50%;

      &:first-child {
        border-bottom: 2px solid rgba(0, 0, 0, 0.15);
      }

      &:focus,
      &:hover,
      &:active {
        color: #0063f7;
        cursor: pointer;
      }
    }
  }
}
