.employee-container {
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 1024px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0;
  }

  .date-section {
    span:last-child {
      font-weight: 900;
    }

    margin-bottom: 30px;
  }

  .workday-element {
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    position: relative;

    &:last-child {
      margin-bottom: 0px;
      border-bottom: none;

      .icons {
        margin-bottom: 0;
      }
    }

    .additional-info {
      background: none;
      border: none;
      padding: 0;
      outline: inherit;
      position: relative;

      svg {
        color: rgba(0, 99, 247, 0.5);

        &:hover {
          color: #0063f7;
        }
      }

      &::before,
      &::after {
        --scale: 0;
        --arrow-size: 10px;

        position: absolute;
        top: -0.25rem;
        left: 50%;
        transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
        transition: 150ms transform;
        transform-origin: bottom center;
      }

      &::before {
        --translate-y: calc(-100% - var(--arrow-size) + 1px);

        padding: 20px;
        width: max-content;
        max-width: 150px;
        border-radius: 8px;
        text-align: justify;
        background-color: #0063f7;
        color: white;
        content: attr(tooltip-data);
      }

      &::after {
        --translate-y: calc(-1 * var(--arrow-size));

        content: '';
        border: var(--arrow-size) solid transparent;
        border-top-color: #0063f7;
        transform-origin: top center;
      }

      &:focus::before,
      &:hover::before,
      &:focus::after,
      &:hover::after {
        --scale: 1;
      }
    }

    .employee-details {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      color: black;

      .details-section {
        margin-bottom: 10px;

        span:last-child {
          font-weight: 900;

          @media only screen and (min-width: 1024px) {
            font-weight: 400;
          }
        }

        &:last-child {
          margin-bottom: 0;
          text-align: justify;
          span {
            font-weight: 400;
          }
        }

        .working {
          color: #2fcc71;
        }

        .not-working {
          color: #ff3333;
        }
      }

      @media only screen and (min-width: 1024px) {
        flex-direction: row;
        justify-content: space-between;
        width: calc(100% - 120px);

        .details-section {
          margin: 0 20px;
          width: calc(100% / 6);

          span:first-child {
            position: absolute;
            top: -200vh;
          }

          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6) {
            text-align: center;
          }
        }
      }
    }

    .icons {
      display: flex;
      justify-content: space-between;
      margin: 20px auto 20px auto;

      @media only screen and (min-width: 1024px) {
        position: absolute;
        right: 40px;
        margin: 0;
      }
    }

    .three-elements {
      width: 150px;
    }

    .two-elements {
      width: 100px;
    }
  }
}
