.employees-container {
  width: 90%;
  margin: auto;

  .top {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 20px;
    align-items: flex-end;

    .title {
      font-size: 25px;
      margin-bottom: 8px;
    }

    button {
      background: none;
      border: none;
      padding: 0;
      outline: inherit;
      color: #0063f7;
      font-weight: 600;
      width: fit-content;

      &:focus,
      &:hover,
      &:active {
        cursor: pointer;
      }
    }
  }

  .employees-list {
    position: absolute;
    top: 90px;
    width: 90%;
  }
}
