.employees-container {
  width: 90%;
  margin: auto;

  .top {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 23px;
    margin-bottom: 8px;

    @media only screen and (min-width: 1024px) {
      left: calc(5% + 30px);
      top: 30px;
      font-size: 25px;
    }
  }

  .employees-list {
    position: absolute;
    top: 90px;
    width: 90%;

    @media only screen and (min-width: 1024px) {
      margin-left: 30px;
    }

    .header {
      position: absolute;
      top: -100%;
      width: calc(100% - 170px);
      padding: 20px;
      font-size: 14px;
      font-weight: 900;
      justify-content: left;
      display: grid;
      grid-template-columns: 0.5fr 1fr 1fr 1.5fr 3fr;

      span {
        margin: 0 20px;

        &:first-child,
        &:nth-child(2),
        &:nth-child(3) {
          text-align: center;
        }
      }

      @media only screen and (min-width: 1024px) {
        position: static;

        span {
          margin: 0;
          text-align: left;
        }
      }
    }
  }

  .desktop-buttons {
    position: absolute;
    top: -100%;
    display: flex;

    @media only screen and (min-width: 1024px) {
      top: 25px;
      right: 50px;
    }
  }

  .new-employee {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px 30px;
    cursor: pointer;
    margin-right: 20px;

    &:hover {
      color: #0063f7;
      border-color: #0063f7;
    }
  }
}
