.employees-container {
  .employees-list {
    .header {
      width: calc(100% - 170px);
      display: grid;
      grid-template-columns: 0.5fr 1fr 1fr 1.5fr 3fr;
      justify-content: left;

      span {
        margin: 0 20px;
        width: 100%;

        &:nth-last-of-type(n + 3) {
          text-align: center;
        }

        &:nth-last-of-type(-n + 2) {
          text-align: left;
        }

        @media only screen and (min-width: 1024px) {
          margin: 0;
          text-align: left;
        }
      }
    }
  }

  .desktop-buttons {
    position: absolute;
    top: -100%;
    display: flex;

    @media only screen and (min-width: 1024px) {
      top: 25px;
      right: 50px;
    }

    .new-employee {
      border: 1px solid rgba(0, 0, 0, 0.5);
      padding: 10px 30px;
      cursor: pointer;
      margin-right: 20px;

      &:hover {
        color: #0063f7;
        border-color: #0063f7;
      }
    }
  }
}
