.home {
  width: 90%;
  margin: auto;

  .container {
    width: 100%;
    background-color: #ffffff;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
