.home {
  width: 90%;
  margin: auto;

  @media only screen and (min-width: 1024px) {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: calc(5% + 40px);
  }

  .container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
