$desktop: 'desktop';
$desktop-active: 'desktop-active';
$mobile: 'mobile';
$mobile-active: 'mobile-active';

.open-close-nav-button {
  background: transparent;
  border: none;
  padding: 0;

  @media only screen and (min-width: 1024px) {
    transform: translateY(-300px);
  }
}

.open-nav-button {
  position: absolute;
  top: 15px;
  left: 20px;
}

.nav-container {
  position: fixed;
  top: 0;
  left: -100%;
  opacity: 0;
  width: 100%;
  height: 100vh;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 1;

  @media only screen and (max-width: 1023px) {
    &.open {
      opacity: 1;
      transform: translateX(100%);
    }
  }

  .background {
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    background-color: rgba(213, 213, 213, 0.8);
  }

  @media only screen and (min-width: 1024px) {
    opacity: 1;
    width: 60px;
    left: 0px;

    .background {
      background-color: #28293d;
      backdrop-filter: none;
    }
  }

  .nav-wrap {
    height: 100%;
    width: 100%;

    .close-nav-button {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 19px;
      height: 19px;
      margin: 0 10px;

      img {
        height: 100%;
        width: 100%;
      }
    }

    .nav {
      position: absolute;
      top: 0px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 50px;
      font-size: 14px;

      @media only screen and (min-width: 1024px) {
        margin: 0px;
        padding-left: 10px;
        display: flex;
        align-items: center;
      }

      .router-links {
        display: flex;
        flex-direction: column;

        @media only screen and (min-width: 1024px) {
          display: flex;
          align-items: center;
        }
      }

      .logo-link {
        transform: translateX(-500%);
        background-color: transparent;

        .logo {
          width: 40px;
        }

        @media only screen and (min-width: 1024px) {
          transform: translateX(0%);
        }
      }

      .nav-item-link {
        margin-bottom: 30px;
        font-size: 1.2em;
        display: flex;
        align-items: center;

        .img-container {
          width: 40px;
          text-align: center;
        }

        svg {
          color: rgba(0, 0, 0, 0.6);
          margin: 0 10px;

          &:hover,
          &:focus,
          &:active {
            color: rgba(0, 0, 0, 1);
          }

          @media only screen and (min-width: 1024px) {
            color: rgba(255, 255, 255, 0.5);
            margin: 0;

            &:hover {
              color: #fff;
            }
          }
        }
      }

      .home-button {
        color: black;
        font-size: 25px;
        position: relative;
        bottom: 30px;

        @media only screen and (min-width: 1024px) {
          position: absolute;
          transform: translateX(-500%);
        }
      }

      .menu-text {
        color: rgba(0, 0, 0, 0.6);
        margin-left: 10px;

        @media only screen and (min-width: 1024px) {
          position: absolute;
          transform: translateX(-500%);
        }
      }

      .router-link-active {
        svg {
          color: #000;

          @media only screen and (min-width: 1024px) {
            color: #fff;
          }
        }

        .menu-text {
          color: black;
        }
      }
    }
  }
}
