.list-container {
  .employees-list {
    .header {
      width: calc(100% - 170px);
      display: none;
      grid-template-columns: 0.3fr 1.5fr 1fr 1fr 3fr;
      justify-content: left;

      span {
        margin: 0;
        text-align: center;

        &:nth-child(2) {
          text-align: left;
          padding-left: 20px;
        }

        &:last-child {
          text-align: left;
        }
      }

      @media only screen and (min-width: 1024px) {
        display: grid;
      }
    }
  }

  .desktop-buttons {
    position: absolute;
    display: none;

    @media only screen and (min-width: 1024px) {
      top: 25px;
      right: 50px;
      display: flex;
    }

    .new-employee {
      border: 1px solid rgba(0, 0, 0, 0.5);
      padding: 10px 30px;
      cursor: pointer;
      margin-right: 20px;

      &:hover {
        color: #0063f7;
        border-color: #0063f7;
      }
    }
  }
}
